.about_img {
    height: 500px;
    width: 550px;
    margin-left: 50px;
    margin-top: 50px;
}

.about_info {
    width: 50%;
    position: absolute;
    top: 110px;
    right: 100px;
}

footer {
    position: relative;
    top: 10px;
    /* text-align: center; */
    font-size: 1rem;
    font-weight: 600;

}

.header1 {
    font-size: 1.6rem;
}

p {
    font-size: 1rem;
}

span {
    font-weight: 550;
}